* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.logo {
  /* margin-left: 20px; */
  margin: 0 100px 0 20px;
  /*上右下左*/
}

.navigator {}

.navigator li {
  position: relative;
  float: left;
  color: rgb(199, 217, 185);
  font-size: 20px;
  padding: 0 30px 0 30px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.navigator li::after {
  position: absolute;
  top: 0;
  right: -1px;
  content: '|';
  display: block;
  color: #efab93;
}

.navigator li:last-child::after {
  display: none;
}

.header {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 90px;
}

.content {
  padding: 60px 0;
  background-color: rgb(241, 254, 213);
  min-height: calc(100% - 90px - 110px);
}

.search-bar {
  margin: 0 auto;
  width: 600px;
}

.search-list {
  display: flex;
}

.search-list li {
  padding: 10px 14px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  color: white;
}

.search-list li.active {
  color: #79bd9a;
}

.search-list li:nth-child(1) {
  position: relative;
  z-index: 10;
  background-color: white;
}

.search-list li:nth-child(2) {
  position: relative;
  left: -10px;
  z-index: 8;
  background-color: #cff09e;
}

.search-list li:nth-child(3) {
  position: relative;
  left: -20px;
  z-index: 6;
  background-color: #a8dba8;
}

.search-list li:nth-child(4) {
  position: relative;
  left: -30px;
  z-index: 4;
  background-color: #79bd9a;
}

.input {
  border: none;
  border-radius: 0 10px 10px 10px;
  width: 100%;
  height: 40px;
  text-indent: 10px;
  outline: none;
}

.news {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.news .left {
  width: 140px;
  height: 350px;
  background-color: #353e3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news .left ul {
  width: 100%;
}

.news .left li {
  position: relative;
  color: white;
  height: 57px;
  font-size: 24px;
  text-align: center;
  line-height: 57px;
  cursor: pointer;
}

.news .left .active {
  background-color: #94b78d;
}

.news .left .active::before {
  position: absolute;
  content: '';
  left: -24px;
  width: 24px;
  height: 57px;
  background-color: #94b78d;
}

.news .left .active::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  left: -24px;
  bottom: -24px;
  border: 12px #3b8686 solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.news .right {
  padding: 30px;
  width: 610px;
  height: 350px;
  background-color: white;
}

.news .right .list li {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  cursor: pointer;
}

.news .right li:first-child {
  margin-top: 0;
}

.news .right li .title {
  color: #94b78d;
  font-size: 16px;
}

.news .right li .date {
  color: #b6b6b6;
}

.news .right .pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 22px;
}

.news .right .pagination ul {
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.news .right .pagination li {
  width: 13px;
  height: 13px;
  font-size: 12px;
  text-align: center;
  line-height: 13px;
  background-color: #9aba94;
  border-radius: 50%;
  color: white;
}

.news .right .pagination li.active {
  background-color: #efab93;
}

.news .right .pagination .more {
  margin-left: 90px;
  color: #b6b6b6;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #94b78d;
  color: white;
  height: 110px;
  padding: 0 80px;
  font-size: 12px;
}

.footer .left {
  position: relative;
}

.footer .left li {
  line-height: 24px;
}

.footer .left::after,
.footer .middle::after {
  position: absolute;
  content: '';
  display: block;
  width: 1px;
  height: 60px;
  background-color: white;
  right: -145px;
  top: 5px;
}

.footer .middle {
  position: relative;
  width: 200px;
}

.footer .middle .top,
.footer .middle .bottom,
.footer .right {
  display: flex;
  justify-content: space-between;
}

.footer .middle .bottom {
  margin-top: 30px;
}

.footer .right {
  align-items: center;
}

.footer .right img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.footer .right li {
  line-height: 24px;
}